<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Scheduler Service" />
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="iCompareID" value="iCompareTesting" />
    <add key="iCompareName" value="Post Installer Combine" />
    <add key="iCompareDescription" value="Post Installer Combine" />
    <add key="iCompareversion" value="1.0" />
    <add key="iCompareTimeout" value="30000" />
    <add key ="Path"  value ="C:\Doorway\Fluid Scheduler Service 4.0.7.3\Scheduler Console\Fluid.Test.SchedulerConsole.exe.config"/>
  </appSettings>

</configuration>